@import './_vars';


*{
	padding : 0;
	margin : 0;
	font-family: "Century Gothic", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.flex-container{
  display : flex;
}

.flex-content{
  display : inline-block;
  margin : auto;
}

.flex-row{
  flex-direction: row;
}

.flex-row-reverse{
  flex-direction : row-reverse;
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

abbr{
  text-decoration: none !important;
  border-bottom : none !important;
}

.unbreakable{
  white-space: nowrap;
}


/* rounded bootstrap button */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
/* ====== */
