@import '../../../scss/_vars';

#navbar-component{
  background-color : $niceGray;
  padding : 10px 5% 10px 5%;
  color : #FFF;

  ul{
    list-style-type: none;
    padding : 0;
    margin: 10px 0;


    li{
      display: inline-block;
      margin-right : 4px;
      a{
        color : #FFF;
        padding : 10px 20px;
        border-radius: 5px;
        border : 1px solid $clearNiceGray;

        &.selected{
          background-color : $clearNiceGray;
        }

        &:hover{
          text-decoration: none;
          background-color : $clearNiceGray;
        }
      }
    }
  }
}
