#adder-component{
  .flex-content{
    padding : 5px;
    margin : auto 20px;


    &:first-child{
      margin-right : 0;
    }

    &:last-child{
      margin-left : 0;
    }
  }

  input{
    width : 300px;

    &[type=number]{
      width : 100px;
    }
  }
}
